{% load compress static wagtailuserbar wagtailsettings_tags navigation_tags settings_tags wagtail_demo_utils %}
{% get_settings %}

<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    	<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    	{% block canonical_url %}{% endblock %}
	
		{% block cdn_css %}
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
		{% endblock %}
	
		{% compress css %}
			<link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}">
		{% endcompress %}

    	{% block extra_css %}{% endblock %}

    	{% block facebook_og %}
    		{% include "utils/includes/facebook_opengraph.html" %}
    	{% endblock %}

    	{% block twitter_og %}
    		{% include "utils/includes/twitter_cards.html" %}
    	{% endblock %}

		{% block google_analytics %}
    		{% include "utils/includes/google_analytics.html" %}
    	{% endblock %}
	</head>

  	<body class="{% block body_class %}{% endblock %}">
    	{% wagtailuserbar %}

    	{% get_site_root as site_root %}
    	{% top_menu parent=site_root calling_page=self %}

    	<div class="off-canvas-content" data-off-canvas-content>

      	{% block breadcrumbs %}
      		{% breadcrumbs %}
      	{% endblock %}

      	{% block content %}{% endblock %}

      	<a href="#" class="scrollup"><img src="{% static 'img/top.png' %}"></i></a>

      	<footer class="hide-for-print">
  	  		<div class="grid-container">
  	        	<div class="grid-x grid-padding-x">
  	          		<div id="contact-us" class="medium-4 cell">
  	            		<h5><strong>Get in Contact</strong></h5>
  	            		{% get_contact_fields as contact %}
  	            		{% include "contact/includes/contact_card.html" with contact=contact only %}
  	
  	            		<br>
  	
  	            		<h5><strong>Follow Us</strong></h5>
  	            		<div class="social">
  	            			{% include "contact/includes/social.html" %}
  	            		</div>
  	          		</div>
  	
  	          		<div id="sitemap" class="medium-3 cell hide-for-small-only">
  	            		<h5><strong>Explore Our Site</strong></h5>
  	            		{% site_menu parent=site_root calling_page=self %}
  	          		</div>
  	
  	          		<div class="medium-4 cell hide-for-small-only">
  	            		{% if contact.post_code %}
  	            			{% get_google_maps_key as google_maps_key %}
  	            			<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ contact.post_code }}&zoom=13&size=300x280&maptype=roadmap&sensor=false&markers=color:green|{{ contact.post_code }}{% if google_maps_key %}&key={{ google_maps_key }}{% endif %}"/>
  	            		{% endif %}
  	          		</div>
  	        	</div>
  	        </div>
  	    	<div id="copyright">
  	      		<div class="grid-x grid-padding-x align-center">
  	        		<p>Copyright © 2018 ChrisDev. All rights reserved</p>
  	      		</div>
  	    	</div>
  	  	</footer>
    </div>
  </div>

		{% block cdn_js %}
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.0/what-input.min.js"></script>
  		{% endblock %}
  
  		{% compress js %}
  			<script src="{% static 'node_modules/foundation-sites/dist/js/foundation.min.js' %}"></script>
  			<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  		{% endcompress %}

  		{% block site_js %}
  			<script>
    			$(document).foundation();
  			</script>
  		{% endblock %}
  
  		{% block extra_js %}{% endblock %}
	</body>
</html>