{% load wagtail_demo_utils settings_tags %}

{% get_contact_fields as contact %}
{% include "contact/includes/contact_card.html" with contact=contact only %}

<br>

<div class="social">
	{% include "contact/includes/social.html" %}
</div>

<hr>

{% if contact.post_code %}
	{% get_google_maps_key as google_maps_key %}
	<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ contact.post_code }}&zoom=13&size=300x200&maptype=roadmap&sensor=false&markers=color:green|{{ contact.post_code }}{% if google_maps_key %}&key={{ google_maps_key }}{% endif %}" />
{% endif %}