{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags wagtail_demo_utils %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

	{% include "pages/includes/feed_image_title.html" %}

	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x">
	  		<div id="standard_page" class="medium-9 cell">
	      		{% if self.feed_image %}
	  			{% else %}
	  		  		<center>
	  		      		<h3>{{ self.title }}</h3>
	  		  		</center>
	  		  		<br>
	  			{% endif %}
	
	      		{% include "pages/includes/intro.html" with intro=self.intro only %}
	  		</div>
			<div id="sidebar" class="hide-for-print hide-for-small-only medium-3 cell">
	      		{% secondary_menu calling_page=self %}
	    	</div>
	    </div>
	</div>
{% endblock %}