{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags wagtail_demo_utils %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content" class="grid-container">
    	<div id="testimonial_list" class="grid-x grid-padding-x">
    		<div class="medium-12 cell">
            	<center><h3>{{ self.title }}</h3></center>
            </div>
            
            <div class="featured-testimonials-section">
                <div class="featured-testimonials row" data-equalizer>
                    {% testimonials_list %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}